.wrapper {
    display: flex;
}

.login-sigup-form {
    width: 527px;
}


.sign-in-div {
    padding-bottom: 163px;
    margin-bottom: -110px;
}

.sign-in-div h1 {
    margin-block: 77px;
    font-size: 33.08px;
    font-weight: 600;
    line-height: 45.04px;
    text-align: center;
    margin-left: 100px;
    margin-top: 140px;
    margin-bottom: 60px;
}

.sign-up-div h1 {
    margin-block: 77px;
    font-size: 33.08px;
    font-weight: 600;
    line-height: 45.04px;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 60px;
}



.blue-div {
    width: 1008px;
    background: #17A2B8;
    height: 100vh;
    color: white;
}

.blue-div img {
    margin-top: 60px;
}

.blue-div h2 {
    font-size: 33.08px;
    font-weight: 600;
    line-height: 66.15px;
    text-align: center;
    margin: 0px;
    margin-top: -95px;
}

.blue-div p {
    font-size: 19.29px;
    font-weight: 400;
    line-height: 38.59px;
    text-align: center;
    margin-top: 0px;
}

.blue-div div {
    margin: 0px 252px;
}

input {
    border-radius: 10px;
    height: 45px;
    border: 1px solid #D0D0D0;
    width: 75%;
    margin: 10px 57px;
    font-size: 17px;
    padding-inline: 8px;
}

button {

    height: 45px;
    width: 100%;
    margin: 16px 57px;
    font-size: 17px;
    padding-inline: 8px;
    border-radius: 40px;
}

.havent-dv {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 100px;
    color: #828282;

}

#confirmPassError {
    color: red;
    margin-left: 70px;
}
